@use '../utilities' as *;

.hero {
    position: relative;
    min-height: 90dvh;

    display: flex;
    justify-content: center;

    .section__container {
        display: flex;
        align-items: center;
    }
}

.hero__bg-pic {
    position: absolute;
    inset: 0;
    filter: brightness(0.6);

    .hero__bg-img {
        height: 100%;
        object-fit: cover;
    }
}

.hero__header {
    position: relative;
    font-size: var(--fs-72);
    color: var(--white);
    max-width: 9em;
    border: 0.05em solid var(--white);
    padding: 0.5em;
    margin-top: 1em; // ??

    @media screen and (max-width: 370px) {
        font-size: clamp(2rem, 16vw + -1.2rem, 2.5rem);
    }
}