@use '../utilities' as *;

.overview {
    display: flex;
    justify-content: center;

    .section__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        gap: 2em;
    }
}

.overview__img {
    max-width: px-to-rem(730px);
}

.overview__card {
    background-color: var(--white);
    max-width: px-to-rem(547px);
    position: static;
    padding: 1em;
    text-align: center;

    @media screen and (min-width: $break) {
        position: absolute;
        padding: 5.75em 1.3rem 0 5.75em;
        bottom: 0;
        right: 0;
        text-align: left;
    }
}

.overview__content {
    margin-top: 1em;
    line-height: 1.65;
    color: var(--dark-gray1);
    opacity: 0.9;

    @media screen and (min-width: $break) {
        margin-top: 2em;
    }
}