@use '../utilities' as *;

body {
    @include set-font-style('Alata');
    font-size: var(--fs-15);
    line-height: 1.5;
    min-width: 19.5rem;
}

section {
    margin-bottom: var(--section-gap);
}

h1,
h2,
h3 {
    @include set-font-style('Josefin Sans');
    font-size: var(--fs-48);
    letter-spacing: 0.1rem;
    line-height: 1;
    text-transform: uppercase;
}

.section__container {
    --padding: 1.5rem;

    max-width: px-to-rem(1120px);
    width: calc(100% - (var(--padding) * 2));
}

img {
    object-fit: cover;
}

.see-all {
    text-transform: uppercase;
    letter-spacing: 0.3em;
    padding: 0.5em 2.5em;
    color: var(--black);
    background-color: var(--white);
    border: 2px solid var(--dark-gray2);
    width: min-content;
    text-wrap: nowrap;

    &:hover {
        color: var(--white);
        background-color: var(--black);
    }
}

.nav-list {
    text-transform: capitalize;
    display: flex;
    gap: 1em;
    color: var(--white);
}