@use '../utilities' as *;

body {
    @include set-font-style('Alata');
    font-size: var(--fs-15);
    line-height: 1.5;
    min-width: 19.5rem;
    position: relative;
}

section {
    margin-bottom: var(--section-gap);
}

h1,
h2,
h3 {
    @include set-font-style('Josefin Sans');
    font-size: var(--fs-48);
    letter-spacing: 0.1rem;
    line-height: 1;
    text-transform: uppercase;
}

.section__container {
    --padding: 1.5rem;

    max-width: px-to-rem(1120px);
    width: calc(100% - (var(--padding) * 2));
}

img {
    object-fit: cover;
}

.see-all {
    text-transform: uppercase;
    letter-spacing: 0.3em;
    padding: 0.5em 2.5em;
    color: var(--black);
    background-color: var(--white);
    border: 2px solid var(--dark-gray2);
    width: min-content;
    text-wrap: nowrap;
    cursor: pointer;

    box-shadow: inset 0 0 0 0 var(--black);
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
    transition: ease-out 0.3s;

    &:hover,
    &:focus {
        color: var(--white);
        box-shadow: inset 300px 0 0 0px var(--black);
    }
}

// nav list
.nav-list {
    text-transform: capitalize;
    display: flex;
    gap: 1em;
    color: var(--white);
}

.nav-item {
    position: relative;
    cursor: pointer;
}

.nav-item::after {
    position: absolute;
    content: "";
    bottom: -0.5rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    background: var(--white);
    border-radius: 100vmax;
    height: 1.5px;

    transition: width 0.1s ease-out;
}

.nav-item:hover::after {
    width: 70%;
}

.nav-item-left::after {
    margin: 0;
    bottom: -0.5rem;
}

.nav-item-left:hover::after {
    width: 100%;
}

.overflow-hidden {
    overflow: hidden;
}